* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    font-size: 80px;
}
/* 화면의 크기가 1024px 이하일 때 스타일 변화 // 1024는 테블릿 기준 // 브라우저상 F12 혹은 검사로 확인하기!*/
@media screen and (max-width:1024px) {
    h1 {
        font-size: 40px;
        color: aquamarine;
    }
} 

/* 화면의 크기가 768px 이하일 때 스타일 변화 */
@media screen and (max-width:768px) {
    h1 {
        font-size: 20px;
        color: blueviolet;
    }
}/* max-width: 768px */

/* 화면의 크기가 480px 이하일 때 스타일 변화 => 모바일 기준 SIZE */
@media screen and (max-width:480px) {
    body {background-color: #cff7f3;}
    h1 {
        font-size: 16px;
        color: #e7b016;
        text-align: left;
    }
}