* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-01 {}

.section-01 .list {
    display: flex;
    justify-content: space-between;
    
    /* 필수 실전! */
    max-width: 900px; /*  width: 100%; 전체 영역차지 좌우 여백 없음*/
    width: calc(100% - 40px); /* 20px씩 좌우 여백값(마진값) 40px calc 좌우여백태그 */
    /*calc() => 괄호안에 연산식 *, /, +, - 적용 */
    /* 필수 실전! */

    margin: 0 auto;
}

.section-01 .list .item {
    /* width: 280px; */
    width: 32%;
    height: 360px;
    position: relative;
    overflow: hidden;
    /* 히든 : 벗어난 자식 숨김태그 3. hover*/
}

.section-01 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-01 .list .item .text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.562);
    transform: translateY(100%);
    /* 1. hover */
    transition: 0.5s;
    /* 4. 호버했을때 시간태그 s는 초단위 */
}

.section-01 .list .item:hover .text {
    /* 2. hover */
    transform: translateY(0);
}

.section-01 .list .item .text strong {}

.section-01 .list .item .text p {}

/* 화면의 크기가 1280px보다 작을 때 실행 (테블릿 사이즈는 그렇다)  */
/* .item안에 있는 .text를 보이도록 적용 */
@media screen and (max-width: 1280px) {
    .section-01 .list .item .text {
        transform: translateY(0);
    }
}

/* max-width: 1280px */

/* 화면의 크기가 600px 이하일 때 실행 */
@media screen and (max-width: 600px) {
    .section-01 .list .item {
        width: 100%;
    }

    .section-01 .list {
        /* flex wrap은 display flex 입력한 선택자에 입력 */
        flex-wrap: wrap;
        row-gap: 20px;
    }
}