/* 눈누 폰트 연결하기 */
@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    /* body태그안에 이줄만 복사붙이기 */
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    /* 기본사이즈 > normal 또는 400 / bold 또는 600 or 700 기본 */
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 공통된 스타일 */
.mobile {
    display: none; /* 사이즈 줄였을 때 보여야 되는 메뉴를 숨김 */
}

.inner {
    max-width: 1280px;
    width: calc(100% - 48px);
    margin: 120px auto;
    /* 프린트물 120여백 참고 */
}

.title h3 {
    margin-bottom: 20px;
    font-size: 48px;
}

.title p {
    font-size: 18px;
}

.header {
    height: 100px;
    /* 아래부터 상단고정을 위해 적용 */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff59;
    backdrop-filter: blur(7px);
}

.header .inner {
    height: 100%;
    /* 헤더 전체 영역 상하 가운데 정렬하는 추가 태그 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* 공통요소 마진 120설정해서 0으로 추가 */
}

.header .inner .nav .gnb {
    display: flex;
    gap: 40px;
}

/* <main class="main"> 바로 이걸로 적용하라 */
.main_visual {
    height: 100vh;
    background-color: azure;
    display: flex;
    align-items: center;
}

.main_visual .text {
    max-width: 1280px;
    width: calc(100% - 48px);
    margin: 0 auto;
}

.main_visual .text h2 {
    font-size: 80px;
    margin-bottom: 20px;
}

.main_visual .text p {
    font-size: 20px;
    margin-bottom: 60px;
}

.main_visual .text a {
    width: 139px;
    height: 59px;
    background-color: #ffffff;
    border-radius: 12px;
    display: block;
    text-align: center;
    line-height: 59px;
}

.section-01 {}

.section-01 .inner {}

.section-01 .inner .title {
    text-align: center;
    margin-bottom: 60px;
}

.section-01 .inner .title p {}

.section-01 .inner .list {
    display: flex;
    justify-content: space-between;
}

.section-01 .inner .list .item {
    width: 32%;
    border: 1px solid #cccccc;
    border-radius: 12px;
    overflow: hidden;
}

.section-01 .inner .list .item a {}

.section-01 .inner .list .item a img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.section-01 .inner .list .item a .text {
    padding: 40px;
}

.section-01 .inner .list .item a .text strong {
    margin-bottom: 12px;
    display: block;
    /* 스트롱태그 적용때문에 삽입 */
    font-size: 24px;
}

.section-01 .inner .list .item a .text p {}

.section-02 {
    background-color: #f3eee8;
    padding: 120px 0;
}

.section-02 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* 기존태그 작성 시 마진값 120 잡혀있어 추가 */
}

.section-02 .inner .text_box {
    width: 34%;
}

.section-02 .inner .text_box .title {
    margin-bottom: 40px;
}

.section-02 .inner .text_box .list {}

.section-02 .inner .text_box .list li {
    margin-bottom: 16px;
    /* flex gap 쓸 경우 2개 마진값 16만 딱 잡힘 */
    background-color: #ffffff;
}

.section-02 .inner img {
    width: 58%;
    height: 460px;
    border-radius: 20px;
    border: solid 1px #acabab;
    object-fit: cover;
}

.section-03 {}

.section-03 .inner {}

.section-03 .inner .title {
    margin-bottom: 60px;
    text-align: center;
}

.section-03 .inner .title h3 {}

.section-03 .inner .title p {}

.section-03 .inner .list {
    display: flex;
    justify-content: space-between;
}

.section-03 .inner .list .item {
    width: 24%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.section-03 .inner .list .item a {}

.section-03 .inner .list .item a img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    /* 호버없애는 태그 추가로 이미지 하단 짤리는 걸 살려주는 태그 */
}

.section-03 .inner .list .item a .text {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffffb4;
    backdrop-filter: blur(7px);
    display: none;
    /* 호버 없애는 태그, 트랜지션 사용불가 = 트렌스폼 사용해도 무방*/
}

.section-03 .inner .list .item:hover .text {
    display: block;
}

@media screen and (max-width: 1024px) {
    .inner {margin: 100px auto;}

    /* 아래부터 사이즈 줄였을 때 상단메뉴적용 */
    .nav {display: none;}
    .mobile {display: block;}

    /* 모바일 내비게이션 */
    .mobile_nav {
        width: 80%;
        height: 100vh;
        background-color: #f3eee8;
        position: fixed;
        top: 0;
        right: 0;
        display: none;/* 숨김처리 */
    }

    .section-01 .inner .list .item a .text {
        padding: 20px;
    }

    .section-02 .inner {
        flex-direction: column;
    }

    .section-02 .inner .text_box {
        width: 100%;
    }

    .section-02 .inner img {
        width: 100%;
        order: -1;
        /* 공통태그에 디스플레이 플렉스 있어야 사용됨. 디스플레이 플렉스 무조건 있어야 가능! 순서바꾸기 (양수 뒤로 음수 앞으로) */
    }

    .section-03 .inner .list {
        flex-wrap: wrap;
        row-gap: 24px;
    }

    .section-03 .inner .list .item {
        width: 49%;
        /* % 두줄됨 */
    }

    .section-03 .inner .list .item a .text {
        width: 100%;
        display: block;
        /* display none 숨김을 보이게 함, 숨김을 보이게 한다 의미 => 현재는 호버 */
        /* 본인에게 바로 적용 => display:block; display: none;없애기 display: inline-block; 잘 안씀, display flex 부모에게 적용 */
    }
} /* 1024px */

/* 화면 줄여보고 @media screen 사이즈는 추가로 적용가능! */

@media screen and (max-width: 480px) {
    .inner {
        width: calc(100% - 36px); /* 36=> 마진16 + 16하면 나옴 */
        margin: 60px auto;
    } /* 공통요소 */

    .main_visual .text {
        text-align: center;
    }
    .main_visual .text p {
        font-size: 18px;
        margin-bottom: 40px;
    }
    .main_visual .text a {
        margin: 0 auto;
    }
    .main_visual .text h2 {
        font-size: 40px;
    }

    .title h3 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .section-01 .inner .title {
        margin-bottom: 20px;
    }
    .title p {
        font-size: 16px;
    }

    .section-01 .inner .list {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .section-01 .inner .list .item {
        width: 100%;
    }

    .section-02 .inner img {
        margin-bottom: 40px;
    }

    .section-03 .inner .title {
        margin-bottom: 20px;
    }
    .section-03 .inner .list .item {
        width: 100%;
    }
}/* 480 */

/* ctrl+G 우측 번호 검색기능 */